<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button id="doGet">get</button>
    <button id="doPost">post</button>
    <script src="//res.ekwing.com/js/plugins/jquery.js"></script>
    <script>
    $("#doGet").click(function () {
        $.ajax({
            url: '/doget',
            type: 'GET',
            data: {
                param1: 'get1',
                param2: 'get2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    $("#doPost").click(function () {
        $.ajax({
            url: '/dopost',
            type: 'POST',
            data: {
                param1: 'post1',
                param2: 'post2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })
    </script>
</body>
</html>