<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Author: {{author}}</h1>
    <button id="doGet">get</button>
    <button id="doPost">post</button>
    <button id="user">user</button>
    <button id="passage">passage</button>
    <button id="token">token</button>
    <a href="/datalist">datalist</a>
    <a href="/testssr">ssr</a>
    <form>
        <div for=""><span>账号：</span><input type="text" name="username" class="username"></div>
        <div for=""><span>密码：</span><input type="password" name="pwd" class="pwd"></div>
        <button id="doSub">dosub</button>
    </form>

    <div>
        <h1>userlist</h1>
        <h2>db</h2>
        <div>
                <a href="/userlist">userlist</a>
        </div>
        <div>
                <input type="text" name="adduser" id="name_value">
                <button id="addUser">add user</button>
        </div>
        <div>

                <input type="text" name="join1" id="join1">
                <input type="text" name="join2" id="join2">
                <button id="addRelation">add relation</button>
        </div>
        <div>
                <input type="text" name="deluser" id="del_name_value">
                <button id="delUser">del user</button>
        </div>
        <div>
                <input type="text" name="delrelation" id="del_relation_value">
                <button id="delRelation">del relation</button>
        </div>
        <h2>事务</h2>
    </div>
    <script src="//res.ekwing.com/js/plugins/jquery.js"></script>
    <script>
    $("#doGet").click(function () {
        $.ajax({
            url: '/doget',
            type: 'GET',
            data: {
                param1: 'get1',
                param2: 'get2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    $("#doPost").click(function () {
        $.ajax({
            url: '/dopost',
            type: 'POST',
            data: {
                param1: 'post1',
                param2: 'post2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    $("#user").click(function () {
        $.ajax({
            url: '/user/16',
            type: 'POST',
            data: {
                param1: 'post1',
                param2: 'post2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    $("#passage").click(function () {
        $.ajax({
            url: '/passage/26/posts',
            type: 'POST',
            data: {
                param1: 'post1',
                param2: 'post2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })
    $("#doSub").click(function () {
        $.ajax({
            url: '/login',
            type: 'POST',
            data: {
                username: $('.username').val(),
                pwd: $('.pwd').val()
            },
            success: function (msg) {
                console.log(msg);
                localStorage.setItem('token', msg.token);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })
    $("#token").click(function () {
        $.ajax({
            url: '/userinfo',
            type: 'get',
            data: {
                param1: 'post1',
                param2: 'post2',
                token: localStorage.getItem('token')
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("authorization","Bearer " + localStorage.getItem('token'));
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    function onLogin (msg) {
        alert(msg)
    }

    $('#addUser').click(function () {
        $.ajax({
            url: '/myadd',
            type: 'POST',
            contentType: 'text/plain',
            data: {
                uname: $('#name_value').val()
            },
            success: function (msg) {
                console.log(msg)
            },
            fail: function (err) {
                console.log(err)
            }
        })
    })
    $('#addRelation').click(function () {
        $.ajax({
            url: '/addrelation',
            type: 'POST',
            contentType: 'text/plain',
            data: {
                uname1: $('#join1').val(),
                uname2: $('#join2').val()
            },
            success: function (msg) {
                console.log(msg)
            },
            fail: function (err) {
                console.log(err)
            }
        })
    })
    $('#delUser').click(function () {
        $.ajax({
            url: '/deluser',
            type: 'POST',
            contentType: 'text/plain',
            data: {
                uname: $('#del_name_value').val()
            },
            success: function (msg) {
                console.log(msg)
            },
            fail: function (err) {
                console.log(err)
            }
        })
    })
    </script>
</body>
</html>