<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Author: {{author}}</h1>
    <button id="doGet">get</button>
    <button id="doPost">post</button>
    <button id="user">user</button>
    <button id="passage">passage</button>
    <button id="token">token</button>
    <a href="/datalist">datalist</a>
    <a href="/testssr">ssr</a>
    <form>
        <div for=""><span>账号：</span><input type="text" name="username" class="username"></div>
        <div for=""><span>密码：</span><input type="password" name="pwd" class="pwd"></div>
        <button id="doSub">dosub</button>
    </form>

    <div>
        <h2>userlist</h2>
        
            <input type="password" name="fuck" id="name_value">
            <button id="addUser">add user</button>
        
    </div>
    <script src="//res.ekwing.com/js/plugins/jquery.js"></script>
    <script>
    $("#doGet").click(function () {
        $.ajax({
            url: '/doget',
            type: 'GET',
            data: {
                param1: 'get1',
                param2: 'get2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    $("#doPost").click(function () {
        $.ajax({
            url: '/dopost',
            type: 'POST',
            data: {
                param1: 'post1',
                param2: 'post2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    $("#user").click(function () {
        $.ajax({
            url: '/user/16',
            type: 'POST',
            data: {
                param1: 'post1',
                param2: 'post2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    $("#passage").click(function () {
        $.ajax({
            url: '/passage/26/posts',
            type: 'POST',
            data: {
                param1: 'post1',
                param2: 'post2'
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })
    $("#doSub").click(function () {
        $.ajax({
            url: '/login',
            type: 'POST',
            data: {
                username: $('.username').val(),
                pwd: $('.pwd').val()
            },
            success: function (msg) {
                console.log(msg);
                localStorage.setItem('token', msg.token);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })
    $("#token").click(function () {
        $.ajax({
            url: '/userinfo',
            type: 'get',
            data: {
                param1: 'post1',
                param2: 'post2',
                token: localStorage.getItem('token')
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("authorization","Bearer " + localStorage.getItem('token'));
            },
            success: function (msg) {
                console.log(msg);
            },
            fail: function (err) {
                console.log(err);
            }
        })
    })

    function onLogin (msg) {
        alert(msg)
    }

    $('#addUser').click(function () {
        $.ajax({
            url: '/myadd',
            type: 'POST',
            data: {
                uname: $('#name_value').val(),
                test1: 'fdsfd fdsfds fdsf ds fdsf',
                test2: 'fdsfds dsfds fds fds fds fds'
            },
            success: function (msg) {
                console.log(msg)
            },
            fail: function (err) {
                console.log(err)
            }
        })
    })
    </script>
</body>
</html>