<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <table style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <td>uid</td>
                        <td>name</td>
                        <td>date</td>
                    </tr>
                </thead>
                
                <tbody>
                    {% for item in listData %}
                    <tr>
                        <td>{{item.uid}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
</body>
</html>